/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* BODY */
html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

/* ROOT APP */
#root {
  width: 100%;
  min-height: 100vh;
}
.welcome-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
