.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #0f312d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.bottom-nav button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.bottom-nav button:hover {
  color: #22c55e;
}
